.container-fluid{
    display:flex;
    flex-direction: row;
    background-color:#0d5399;
    height: 100vh;
    width:auto;
    
}
.card-container{
    padding:10px;
  
}
.content{
    display: flex;
    flex-direction: row;
    
}